@import 'base/typography';
@import 'themes/theme';

*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  font: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include type-body();
  @include theme-white();
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex: 1;
  outline: none;
}
